flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
sentence-transformers==2.2.2
huggingface-hub==0.19.4  # Version critique !
torch==2.2.2 --extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.40.2
pandas==2.0.3
scikit-learn==1.7.1  # Version correspondant à vos modèles
numpy==1.26.4

